In [1]:
# Decision Tree Classification
#dataset "D:\D DRIVE\pandas\dataset\Social_Network_Ads.csv"

In [11]:
#Importing Required Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [12]:
#Importing Data Set
df=pd.read_csv("D:/D DRIVE/pandas/dataset/Social_Network_Ads.csv")

In [13]:
dataset=df # second copy of dataset for working

In [14]:
dataset.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [15]:
X = dataset.drop('Purchased',1)
y = dataset['Purchased']

In [16]:
#spliting the dataset in test and train
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [22]:
#feture scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [23]:
#training the decision tree classification model
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy',random_state=0)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [24]:
#Predecting the test set result
y_pred = classifier.predict(X_test)

In [26]:
#making the confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[61  7]
 [ 3 29]]

0.9